/*Header*/
.header-area .main-menu,
.header-area .main-menu .dropdown-menu {
  background: black;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.header-area .main-menu .navbar {
  height: 50px;
}
.header-area .main-menu .navbar .nav-link {
  font-size: 14px;
  color: #f2e8e2;
  padding: 8px;
}
.header-area .main-menu .navbar .nav-link:hover {
  font-weight: 600;
}
/*Main-Info*/
.contenedor {
  margin: 100px;
}
.espacio{
  height: 9px;
}
.zoom{
  transition: 1s ease;
   -moz-transition: 1s ease; /* Firefox */
   -webkit-transition: 1s ease; /* Chrome - Safari */
   -o-transition: 1s ease; /* Opera */
}
.zoom:hover{
  transform : scale(1.1);
  -moz-transform : scale(1.1); /* Firefox */
  -webkit-transform : scale(1.1); /* Chrome - Safari */
  -o-transform : scale(1.1); /* Opera */
  -ms-transform : scale(1.1); /* IE9 */
}

@media (max-width: 500px) { 
  .contenedor {
    margin: 50px;
  }
 }
